.btn-blue {
  background-color: #635bff;
  color: #edf2f4;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.btn-blue:hover {
  background-color: #0008C1;
  color: white;
}
